worker_process 1;

events {
    worker_connections 1024;
}

http{
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;
    limit_req_zone $binary_remote_addr zone=one:1m rate=50r/s;

    server {
        listen 80;
        server_name

        location / {
            limit_req zone=one burst=10 nodelay; 
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}